$bg-white: #fff;
$bg-success: #4C964B;
$bg-primary: #1D80F3;
$bg-danger: #DA3934;
$bg-dark: #22272E;
$bg-primary-orange: #E34D34;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}