#sub-parent-username{
    margin-bottom: 1rem;
}
#sub-parent-username > h2.rishabh-name{
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}
#sub-parent-about-user > p.rishabh-about{
    color: aquamarine;
    font-size: 1.2rem;
    font-family: 'Baloo Paaji 2';
}
#sub-parent-about-user > p.rishabh-about::selection{
    color: white;
}
#sub-parent-username,#sub-parent-about-user{
    margin-left: 15vh;
}


