*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #nav-item-active{
    color: var(--mid-red-color);
  }
  .nav-container{
    background-color: #fffdfd;
  }
  .nav-branding{
    color: var(--dark-red-color);
    transition: color 1s ease;
    text-decoration: none;
  }
  .nav-branding:hover{
    color: var(--mid-red-color);
  }
  .nav-item{
    list-style: none;
    font-size: 1.14rem;
  }
  
  .nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .nav-branding{
    font-size: 2rem;
  }
  
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .nav-link{
    transition: 0.3s ease-out;
  }
  .nav-item{
      font-family: 'Trispace', sans-serif;
  }
  
  .nav-link:hover{
    color: var(--mid-red-color);
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgb(0, 0, 0);
  }
  
  