@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300&display=swap');
*{
   margin: 0;
   padding: 0;
   user-select: none;
   list-style: none; 
   text-decoration: none;
}
:root{
    --background-color: #02031a;
    --trnsparent-color: rgba(0, 0, 0, 0.144);
    --minimum-border-radius: 20px;
}
html{
    font-size: 10px;
}
@keyframes fadeDown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideFromLeft{
    0%{
        opacity: 1;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../img/bg-image.jpg'); */
    z-index: -1;
}
body{
    background-color: #08070c;
}
.container{
    display: grid;
    /* grid-template-columns: auto; */
}
#titlebox{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 80vh;
    text-align: center;
    align-items: center;    
    color: white;
    font-family: 'Rubik', sans-serif;    
    animation: fadeDown 3s ease-out;
}
#titlebox > h3{
    font-size: 4rem;
    margin-top: 32vh;
    /* animation: fadeDown 2s ease-in-out; */
}
.tag ul{
    display: flex;
    font-size: 20px;
    justify-content: center;
    transform: translateY(10px);
}
#social-handler{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    background-color: var(--background-color);
}
.s-icons{
    filter: invert(100%);
    /* padding: 10px 60px; */
    transition: .2s ease-out;
    /* border-radius: 10px; */
    cursor: pointer;
}
.s-icons:hover{
    /* background-color: var(--trnsparent-color); */
    /* filter: opacity(0.5); */
}
.s-icons img{
    height: 28px;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 50vh;
    flex-wrap: wrap;
    /* background-image: url('../img/bg-image.jpg');     */
    background-size: cover;
    
}
#content .c{
    font-size: 2rem;
    /* user-select:none; */
    font-family: 'M PLUS 2', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    /* margin-top: 10vh; */
}
.card-title{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    justify-content: center;
}
/*Target the direct span inside .card-title and increase the font size to make it responsive*/
.card-title span{
    font-size: 2rem;
    display: inline-block;
    font-family: 'M PLUS 2', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    /* margin-top: 10vh; */
}
.cards-container{
    display: grid;
    grid-gap:3rem;
    /* grid-template-columns: 2fr 2fr; */
    grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
    justify-content: center;
    align-items: center;
    /* Move the boxes a downwards */
    transform: translateY(50px);
}
.cards{
    background-color: var(--background-color);
    box-shadow: 0 0 4px 2px rgb(0, 119, 255);
    /* border:2px solid red; */
    height: 15rem;
    color: rgb(255, 255, 255)    ;
    /* width: 40rem; */
}
/*target project1,2,3,4*/
#project1{
    border-bottom-right-radius: var(--minimum-border-radius);
    /*give the same radius to top right*/
    border-top-right-radius: var(--minimum-border-radius);
    display: flex;
    flex-direction:row;
    align-items: center;
    animation: slideLeft 3s ease-in-out;
}
#project2{
    border-bottom-left-radius: var(--minimum-border-radius);
    /*give the same radius to top left*/
    border-top-left-radius: var(--minimum-border-radius);
    display: flex;
    flex-direction:row;
    align-items: center;
    animation: slideRight 3s ease-in-out;
    
}
#project3{
    border-top-right-radius: var(--minimum-border-radius);
    /*give the same radius to top right*/
    border-bottom-right-radius: var(--minimum-border-radius);
    display: flex;
    flex-direction:row;
    align-items: center;
    animation: slideLeft 3s ease-in-out;
}
#project4{
    border-top-left-radius: var(--minimum-border-radius);
    /*give the same radius to top left*/
    border-bottom-left-radius: var(--minimum-border-radius);
    display: flex;
    flex-direction:row;
    align-items: center;
    animation: slideRight 3s ease-in-out;

}
.cards-container #project1 >img{
    height: 90px;
    transform: translateX(30px);
}
.cards-container #project2 >img{
    height: 90px;
    /* border-radius: 80px; */
    transform: translateX(30px);
}
.cards-container #project3 >div.plus_icon_make{
    width: 90px;
    height: 90px;   
    background-color: rgb(21, 138, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(30px);
    border-radius: 50%;
}
.plus_icon_make span{
    font-size: 8rem;
    font-weight: bold;
}
.cards-container #project4 >div.H_icon_make{
    width: 90px;
    height: 90px;   
    background-color: rgb(16, 143, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(30px);
    border-radius: 50%;
}
.H_icon_make span{
    font-size: 5rem;
    font-family: 'Rubik';
    font-weight: bold;
}
.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.text h1{
    font-family: 'Rubik';
    transform: translate(50px,-20px);
    font-size: 24px;
}
.text p{
    transform: translate(50px);
    font-size: 13px;
    font-family: 'Rubik';
}
/* Deploy hover property for boxes*/
.cards:hover{
    box-shadow: 0 0 10px 4px rgb(0, 119, 255);
    /* transform: scale(1.1); */
    transition: .2s ease-out;
}
/* Deploy a media query if the resolution is mobile then all img will loose its translate:transform property*/
@media screen and (max-width: 600px){
    .cards-container #project1 >img{
        transform: translateX(5px);
    }
    .cards-container #project2 >img{
        transform: translateX(5px);
    }
    .cards-container #project3 >div.plus_icon_make{
        transform: translate(5px);
    }
    .cards-container #project4 >div.H_icon_make{
        transform: translate(5px);
    }
}
.header_of_projects{
    letter-spacing: 1px;
}
/*Deploy a media query if resolution is mobile then .text h1 and p will loose its transform:translate proprty*/
@media screen and (max-width: 600px){
    .text h1{
        transform: translate(15px,-20px);
    }
    .text p{
        transform: translate(15px,0px);
    }
}

/*Deploy a media query with if the resolution is mobile then no radius to projects*/
@media screen and (max-width: 600px){
    #project1{
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    #project2{
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    #project3{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    #project4{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
