:root{
    --primary-bgcolor:#03031a;
    --dark-red-color:#3D0000;
    --mid-red-color:#950101;
    --light-red-color:#FF0000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: aquamarine;
    background-color: var(--primary-bgcolor);
}