@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bebas+Neue&family=Lato&family=Red+Hat+Mono:wght@500&display=swap');
*{
    scroll-behavior: smooth;
}
.lato-ff{
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ab-ff{
    font-family: 'ABeeZee', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.bebas-ff{
    font-family: 'Bebas Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbar-container>nav>ul>li{
    transition: .2s ease-in;
}
@keyframes progress_from_left_cpp{
    from{
        width: 0%;
    }
    to{
        width: 59%;
    }
}
@keyframes progress_from_left_py{
    from{
        width: 0%;
    }
    to{
        width: 57%;
    }
}
@keyframes progress_from_left_web{
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}
.cpp{
    animation: progress_from_left_cpp 5s ease-out;
}
.py{
    animation: progress_from_left_py 5s ease-out;
}
.html-css-js{
    animation: progress_from_left_web 5s ease-out;
}
.cpp_box{
    grid-template-columns: 1fr 10fr;
}
.py_box{
    grid-template-columns: 1fr 10fr;
}
.web_box{
    grid-template-columns: 1fr 10fr;
}
body{
    background-color: #121212;
    color: white;
}
@media only screen and (max-width:768px){
    #navbar-container{
        flex-direction: column;
        height: 11vh;
        justify-content: initial;
    }
    #navbar-container>header{
        width: 100%;
        height: 12vh;
    }
    #navbar-container>header>span{
        margin-left: 1.5rem;
    }
    #navbar-container>nav{
        width: 80%;
        height: 100vh;
        justify-content: center;
        margin-right: initial;
        display: flex;
    }
    #navbar-container>nav>ul{    
        display: none;
        flex-direction: column;
        justify-content: start;
        margin-left: initial !important;
        height: 100%;
        width: 100%;
        padding-right: initial;
    }
    #navbar-container>nav>ul>a>li{
        font-size: 1.25rem; 
        line-height: 1.75rem;
        margin-right: initial;
        padding: 1.8rem 0;
        border: none;
    }
    #landingPage{
        grid-template-columns: initial;
        grid-auto-flow: row;
    }
    .box1{
        height: 40vh;
    }
    .box1>img{
        height: 12rem;
    }
    #more{
        display: grid;
        height: 8vh;
    }
    #bio{
        font-size: 1.1rem;
        line-height: 2.1rem;
    }
    .cpp_box{
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start  !important;
        justify-content: center !important;
    }
    .cpp_box>span{
        margin-bottom: 1rem;
    }
    .py_box{
        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;
        justify-content: center !important;
    }
    .py_box>span{
        margin-bottom: 1rem;
    }
    .web_box{
        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;
        justify-content: center !important;
    }
    .web_box>span{
        margin-bottom: 1rem;
    }
    .visit_cpp_box, .visit_py_box, .visit_web_box{
      display: none;
    }
    .first_box, .second_box, .third_box{
        grid-template-columns: initial !important;
    }
    #footer>span{
        font-size: 1rem;
    }
    #projects-container{
        height: 150vh;
        grid-template-rows: initial;
        grid-template-columns: none;
        grid-auto-flow: row;
    }
}
@media only screen and (min-width:768px){
    #navItems-nav{
        position: initial;
        height: 100%;
    }
    #navbar-container>nav>ul{
        display: flex !important;
        color: #fff;
    }
    .box2{
        grid-template-rows: 2fr 2fr 1.4fr;
    }
}