#user-about-section-container{
    height: 100vh;
    display: grid;
    margin-top: 20vh;
    margin-bottom: 20vh;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
#about-section-left-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-section-left-top>img#user-image{
    height: 22rem;
    border-radius: 100%;
    animation: imgPopUp 1s ease-in-out;
}
#about-section-right-bottom{
    height: 100%;
    display: grid;
    border-left: 2px solid #9b8d8d;
}
#about-section-heading-subcontainer{
    display: flex;
    flex-direction: column;
}
#about-section-heading-subcontainer>header{
    font-size: 2rem;
    font-weight: 600;
    padding-top: 6vh;
    padding-left: 34px;
    padding-bottom: 2vh;
    letter-spacing: 1px;
    font-family: 'Roboto';
    animation: slidefromLeft  1s ease-in-out;
}
#about-section-heading-subcontainer>ul{
    list-style-type: none;
    padding-top: 2vh;
    animation: slidefromLeft 1s ease-in-out;
}
#about-section-heading-subcontainer>ul>li{
    font-size: 1.2rem;
    padding: 10px .5vw;
    letter-spacing: 1px;
    font-family: 'Roboto';
}
#about-section-content-subcontainer>p{
    padding: 34px;
    font-size: 1.2rem;
    font-family: 'Roboto';
    letter-spacing: 1px;
    animation: slidefromLeft  1s ease-in-out;
}
#about-section-content-subcontainer>p>a{
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-darkblue);
}
.copyrights-section{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-darkblue);
}
.copyrights-section>div>p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Roboto';
    color: var(--global-white);
}
.social-media-container{
    width: 15vw;
    height: 10vh;
    display: flex;
    margin-left: 34px;
    align-items: center;
    justify-content: space-around;
}
.social-media-container>div>a{
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Roboto';
    color:var(--primary-darkblue);
}
.social-media-container>div>i{
    font-size: 23px;
    cursor: pointer;
    color: #323232;
}
@media only screen and (max-width: 600px) {
    .project{
        display: none;
    }
    #about-section-left-top{
        margin-top: -6em;
    }
    #about-section-left-top>img#user-image{
        height: 15rem;
        padding: 1em 0;
        border-radius: 100%;
    }
    #about-section-right-bottom{
        border-left: 2px solid transparent;
    }
    .social-media-container{
        display: none;
    }   
}
@media only screen and (min-width: 601px) and (max-width: 900px){
    #about-section-left-top>img#user-image{
        height: 15rem;
        border-radius: 100%;
    }
    .project{
        display: none;
    }
}