@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes stamp{
  0%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes imgPopUp{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes slidefromLeft{
  0%{
    transform: translateX(-5%);
  }
  100%{
    transform: translateX(0);
  }  
}