@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&family=Roboto:wght@300&display=swap');

:root{
    --primary-grey:#9b8d8d;
    --global-black: #000000;
    --global-white: #ffffff;
    --secondary-yellow: #fbc93c;
    --primary-yellow: rgb(255, 255, 0);
    --primary-darkblue: rgb(12, 12, 63);
}
