*{
    margin: 0;padding: 0;
    scroll-behavior: smooth;
}
.container{
    display: grid;
    height: auto;
    height:220vh;
    border: 2px solid rgb(7, 5, 112);
    grid-template-rows:.3fr 3fr 2.5fr .5fr;
}
#navbar,#landingPage,#projects,#footer{
    
}
#navbar{
    display: grid;
    grid-template-columns: 1fr; 
}
#navbar .tempbox:last-child{
    display: none;
}
#landingPage{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows:8fr 2fr;
}
#projects{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    align-items: stretch;
}
#footer{
    display: grid;
    grid-template-columns:1fr 9fr;
}
.smallbox,.bigbox{
    border: 2px solid rgb(7, 5, 112);
}
.tempbox{
    border: 2px solid rgb(7, 5, 112);
}
@media only screen and (max-width:864px){
    #projects{
        grid-template-columns: initial;
    }
    #navbar{
        grid-template-columns: 15fr 2fr !important;
    }
    #navbar .tempbox:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:425px){
    .container{
        grid-template-rows:2.2fr 4fr 8fr 1fr;
    }
    #navbar{
        grid-template-columns:8fr 2fr !important;
    }
    #navbar .tempbox:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects{
        grid-template-columns: initial;
    }
}