@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Readex+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}   
.main-container{
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.text-box{
    margin: 2rem;   
}