#nav-items>ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 5rem;
}
#nav-items>ul>li{
    margin: 0 1rem;
    cursor: pointer;
    text-transform: capitalize;
}
@media only screen and (max-width:768px){
    #nav-items>ul{
        height: 100%;
        padding-left: initial;
        flex-direction: column;
        align-items:stretch;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width:425px){
    #nav-items>ul{
        height: 100%;
        padding-left: initial;
        flex-direction: column;
        align-items:stretch;
        justify-content: space-evenly;
    }
}