.projects-container {
    /* <<<<<<< HEAD */
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    align-items: center;
    background-image: url('../IMG/castle.jpg');
    background-size: cover;
}

.card {
    border: none !important;
    background-color: white;
}

.card-body {
    height: 40vh;
}

.card-title {
    padding: 10px 0;
}

.card-text {
    line-height: 5vh;
}

.project-box {
    margin: 40px 0;
    transition: all 0.5s ease-out;
    background: rgba(37, 34, 34, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.project-box:hover {
    box-shadow: 0px 0px 10px 0px var(--primary-darkblue);
}

@media only screen and (max-width: 600px) {
    .projects-container {
        height: auto;
        align-items: center;
    }
}