.displaytoggle {
    height: 88vh !important;
    display: flex !important;
    transition: all .5s ease-in-out !important;
}

#nav-list {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: black !important;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
@media only screen and (min-width:900px){
    #nav-list{
        flex-direction: row !important;
    }
    #nav-list>li{
        
    }
    .hamburger-btn{
        display: none;
    }
}