.d-fx{
    display: flex;
}
.center-x{
    justify-content: center;
}
.center-y{
    align-items: center;
}
.center-xy{
    justify-content: center;
    align-items: center;
}
.d-fx-col{
    display: flex;
    flex-direction: column;
}
.fx-wrp{
    flex-wrap: wrap;
}
.fx-even{
    justify-content: space-evenly;
}
.fx-btw{
    justify-content: space-between;
}
.fx-space{
    justify-content: space-around;
}
.fx-start{
    justify-content: flex-start;
}
.fx-end{
    justify-content: flex-end;
}