@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik&display=swap');
@import "../../var";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#container {
    &>#landingPage {
        @include setBgColor($color-mintCream);
        &>.titleBox>h2 {
            @include setFgColor($color-spaceCadet);
            @include setFontRubik;
            font-size: 3em;
        }
        &>.bioBox{
            @include setFontPT;
        }
    }
    &>#footer {
        @include setBgColor($color-mintCream);
        &>#fHeaders,
        &>#fItems {
            display: grid
        }
        #header__1,
        #header__2,
        #header__3 {
            @include setFgColor($color-jet);
            @include setFontRubik;
        }
        &>#itemRow__1,
        #itemRow__2,
        #itemRow__3{
            @include setFontPT;
        }
        &>#mFooter {
            display: none;
        }
    }
}
@media only screen and (max-width: 912px) {}
@media only screen and (max-width:425px) {
    #container {
        &>#landingPage {
            .titleBox {
                margin-left: 1.5rem !important;
            }
            .bioBox {
                width: 70% !important;
                margin-left: 1.5rem !important;
            }
        }
        &>#footer {
            height: 42rem !important;
            &>#fHeaders,
            #fItems {
                display: none !important
            }
            &>#mFooter {
                display: block !important;
            }
        }
    }
}