@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik&display=swap');
@import "../../var";
@tailwind components;
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.btn{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.npmsh{
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow: 24px 24px 49px #bebebe,
    -24px -24px 49px #ffffff;
}
#container {
    &>#landingPage {
        @include setBgColor($color-npmsh);
        &>.titleBox>h2 {
            @include setFgColor($color-spaceCadet);
            @include setFontRubik;
            font-size: 3em;
        }
        &>.bioBox{
            @include setFontPT;
        }
    }
    &>#projects{
        @include setBgColor($color-npmsh);
        .card__title{
            @include setFontRubik;
            font-size: 1.1rem;
        }
        .card__body{
            @include setFontPT;
        }
    }
    &>#footer {
         @include setBgColor($color-npmsh);
        &>#fHeaders,
        &>#fItems {
            display: grid
        }
        #header__1,
        #header__2,
        #header__3 {
            @include setFgColor($color-jet);
            @include setFontRubik;
        }
        &>#itemRow__1,
        #itemRow__2,
        #itemRow__3{
            @include setFontPT;
        }
        &>#mFooter {
            display: none;
        }
    }
}
@media only screen and (max-width: 912px) {
   #container {
        &>#landingPage {
            .titleBox {
                margin-left: 1.5rem !important;
            }
            .bioBox {
                width: 70% !important;
                margin-left: 1.5rem !important;
            }
        }
        &>#projects{
            grid-auto-flow: row !important;
            grid-template-columns: initial !important;
            height: 170vh !important;
            gap: 0 !important;
            &>#project__1,
            #project__2,
            #project__3{
                justify-self: center !important;    
                height: 58% !important;
                grid-template-rows: 2fr 5.5fr 3fr !important;
            } #project__1{
                align-self: end !important;
            }#project__3{
                align-self: start !important;
            }
            
        }
        &>#footer {
            height: 42rem !important;
            &>#fHeaders,
            #fItems {
                display: none !important
            }
            &>#mFooter {
                display: block !important;
            }
        }
    }
}
@media only screen and (max-width:425px) {
    #container {
        &>#landingPage {
            .titleBox {
                margin-left: 1.5rem !important;
            }
            .bioBox {
                width: 70% !important;
                margin-left: 1.5rem !important;
            }
        }
        &>#projects{
            grid-auto-flow: row !important;
            grid-template-columns: initial !important;
            height: 170vh !important;
            gap: 0 !important;
            &>#project__1,
            #project__2,
            #project__3{
                justify-self: center !important;    
                height: 58% !important;
                grid-template-rows: 2fr 5.5fr 3fr !important;
                // grid-template-rows: 2.5fr 7fr !important;
            } #project__1{
                align-self: end !important;
            }#project__3{
                align-self: start !important;
            }
            
        }
        &>#footer {
            height: 42rem !important;
            &>#fHeaders,
            #fItems {
                display: none !important
            }
            &>#mFooter {
                display: block !important;
            }
        }
    }
}