
.off-canvas-navbar{
    position: fixed;
    display: flex !important;
    justify-content: flex-end !important;
    width: 100% !important;
    z-index: 10;
}
#homeBtn{
    border: none;
    background-color:transparent;
}
.off-canvas-navbar>button,.off-canvas-navbar>a{
    margin: 10px;
    padding: 10px 20px;
    background: transparent;
    border: none !important;
}
.off-canvas-navbar>button>i,.off-canvas-navbar>a{
    font-size: 1.5em;
    filter: invert(100%);
}
.dark-mode{
    transition:background .2s ease-in;
    background: #000;
    color: #fff;
}
.blue-to-white{
    color:var(--global-white);
}
.white-mode{
    background: #fff;
    color: #000;
}
.applygreyscale{
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}